/* fonts */

@font-face {
  font-family: 'HNB';
  src: url('../fonts/Roboto-Black.ttf');
  font-style: normal;
  /*font-weight: 400;*/
}

@font-face {
  font-family: 'HNL';
  src: url('../fonts/Roboto-Light.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HNC';
  src: url('../fonts/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HNT';
  src: url('../fonts/Roboto-Thin.ttf');
  font-style: normal;
  font-weight: 400;
}







/* common */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto;
  max-width: 1920px;
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #636363;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
  color: #636363;
}

.block {
  margin: auto;
}

.blocked {
  overflow: hidden;
}

.active {
  color: black !important;
}

div {
  display: block;
}

.header-main {
  display: flex;
}

.outer-navigation-container {
  width: 100vw;
  z-index: 1005;
  background: white;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 50px;
  top: 0;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);
    -moz-box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);
    box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);
}

.navigation-container {
  display: flex;
  align-items: center;
}

.logo-container {
  background: url('../images/Tonsilotren_LogoRGB_en.svg') no-repeat center / contain;
  width: 140px;
  height: 20px;
  display: block;
  margin-right: 255px;
}

.logo-container-en {
  background: url("../images/Tonsilotren_LogoRGB_en.svg")  no-repeat center / contain !important;
}

.where-to-buy {
  background-color: #a00067;
  color: white !important;
  font-size: 10px !important;
  line-height: 10px !important;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

.where-to-buy-mob {
  display: none;
}

.lang {
  border: 1px solid #636363;
  padding: 5px;
  border-radius: 5px;
}

.navigation-menu a {
  margin-right: 20px;
  text-transform: uppercase;
  color: #636363;
  font-size: 13px;
  line-height: 13px;
}

.header-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  margin-top: 50px;
  /*align-items: center;*/
}
.header-main {
  display: flex;
  align-items: center;
}

.instruction {
  position: fixed;
  top: 80px;
  left: 20px;
  width: 80px;
  height: 60px;
  z-index: 15;
  background: url('../images/instruction.svg') no-repeat center / contain;
}

.instruction-en {
  background: url('../images/instructionEN.svg') no-repeat center / contain; 
}

.instruction p {
  position: relative;
  left: 6px;
  top: 75px;
  font-size: 13px;
  color: #a00067;
  background-color: transparent;
}

.header-main-center {
  margin-top: 0;
  font-family: 'HNL', sans-serif;
}

.header-block-2 {
  font-family: 'HNL', sans-serif;
  line-height: 18px;
}

.header-main-center p {
  color: #a00067;
  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.header-main-center p b {
  color: #e10f5c;
}

.header-main-center p::before {
  /*top: 20px;*/
  /*right: 40px;*/
  /*position: relative;*/
  margin-right: 20px;
  content: '';
  display: block;
  background: url('../images/icon_number_01.svg') no-repeat center / contain;
  width: 30px;
  height: 30px;
}
.header-main-center p:nth-child(1) {
  margin-left: 10px;
}
.header-main-center p:nth-child(2) {
  margin-left: 90px;
}
.header-main-center p:nth-child(3) {
  margin-left: 10px;
}
.header-main-center p:nth-child(4) {
  margin-left: 90px;
}
.header-main-center p:nth-child(2)::before {
  background: url('../images/icon_number_02.svg') no-repeat center / contain;
}
.header-main-center p:nth-child(3)::before {
  background: url('../images/icon_number_03.svg') no-repeat center / contain;
}
.header-main-center p:nth-child(4)::before {
  background: url('../images/icon_number_04.svg') no-repeat center / contain;
}

.navigation-menu {
  max-width: 1600px;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-custom {
  background: url('../images/bg.jpg') no-repeat center / cover;
  display: flex;
  margin-top: 50px;
  padding-bottom: 150px;
  overflow: hidden;
}

.header-title {
  margin-left: 6vw;
}

.header-title b {
  text-transform: uppercase;
  font-size: 68px;
  color: #a00067;
  /*font-weight: 900;*/
  font-family: 'HNB';
}

.header-title p {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'HNL';
}

.header-title strong {
  font-family: 'HNB';
}

.header-main-product-img {
  width: 332px;
  height: 284px;
  background: url('../images/thumbnail (2).png')
    no-repeat center / contain;
}

.header-main-img {
  width: 457px;
  height: 391px;
  background: url('../images/div_04.png') no-repeat center / contain;
}


.test-test {
  position: relative;
  top: 200px
}

.header-main-img-mobile {
  display: none;
}

.header-block-2 {
  display: flex;
  margin: -60px 0 150px;
  justify-content: center;
}

.block-4-h2 {
  margin-bottom: 50px !important;
}

.block-2__plate {
  height: 130px;
  width: 130px;
  margin-right: 50px;
  background: url('../images/icon_plus_01_160x187px.png') no-repeat center /
    contain;
}

/*.block-2__plate-a {*/
/*  height: 130px;*/
/*  width: 130px;*/
/*  margin-right: 50px;*/
/*}*/

/*.block-2__plate-a p {*/
/*  position: relative;*/
/*  top: 130px;*/
/*  font-size: 13px;*/
/*  text-transform: uppercase;*/
/*  text-align: center;*/
/*  color: #636363;*/
/*  background-color: transparent;*/
/*}*/

.block-2__plate p {
  position: relative;
  top: 130px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #636363;
  background-color: transparent;
}

.block-2__plate:nth-child(2) {
  background: url('../images/icon_plus_02_160x187px.png') no-repeat center /
    contain;
}

.block-2__plate:nth-child(3) {
  background: url('../images/icon_plus_03_160x187px.png') no-repeat center /
    contain;
}

.block-2__plate:nth-child(4) {
  background: url('../images/icon_plus_04_160x187px.png') no-repeat center /
    contain;
}

.counter {
  position: absolute;
  display: flex;
  align-items: center;
  width: 110px;
  height: 30px;
  bottom: 5px;
  right: 0px;
}

.left-arrow {
  background: url("../images/button_left.svg") no-repeat center / contain;
  width: 30px;
  height: 30px;
}

.right-arrow {
  background: url("../images/button_right.svg") no-repeat center / contain;
  width: 30px;
  height: 30px;
}

.counter-num p {
  font-size: 16px;
  line-height: 16px;
  color: #A00067;
  padding: 0 5px;
}

.hidden {
  display: none;
}



.block-interactive {
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  color: #a00067;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'HNB';
}

h2 {
  text-align: center;
  color: #a00067;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 100px;
  font-family: 'HNB', sans-serif;
}
h2 b {
  color: #636363;
  font-family: 'HNT', sans-serif;
}

.block-interactive-inner {
  position: relative;
  border: 1px solid #d0d0d0;
  padding: 20px 20px 50px;
  width: 60vw;
  min-height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}



.block-4__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  border-right: 1px solid #d0d0d0;
  font-family: 'HNB';
  cursor: pointer;
}

.block-4__buttons div {
  color: #a1a1a1;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-family: 'HNC';
}

.block-4__buttons div::before {
  margin-right: 10px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url('../images/Vector 3.svg') no-repeat center / contain;
}

.block-interactive-inner__img {
  width: 30%;
  height: 265px;
  background: url('../images/pack_left_tonzilotren_tiny_400x400px 2.png')
    no-repeat center / contain;
}

.block-4__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.block-4__container-content {
  max-width: 80%;

}

.block-4__container {
  padding-bottom: 100px;
}

.block-4__container-content p {
  font-family: 'HNL';
  /*color: #a1a1a1;*/
}

.block-4__container-content b {
  color: #a00067;
  font-family: 'HNC';
}

.block-4__container-img {
  width: 200px;
  height: 200px;
  background: url('../images/picture_01_Atropinum 1.png') no-repeat center /
    contain;
}

.block-4__container-img1 {
  background: url('../images/picture_01_Atropinum 1.png') no-repeat center /
    contain;
}
.block-4__container-img2 {
  background: url('../images/ing2.png') no-repeat center / contain;
}
.block-4__container-img3 {
  background: url('../images/picture_01_Atropinum 1 (1).png') no-repeat center /
    contain;
}
.block-4__container-img4 {
  background: url('../images/ing4.png') no-repeat center / contain;
}
.block-4__container-img5 {
  background: url('../images/ing5.png') no-repeat center / contain;
}

.block-4__btn-active {
  font-size: 18px !important;
  line-height: 18px !important;
  color: #a00067 !important;
  font-family: 'HNB' !important;
}

.block-4__btn-active::before {
  display: none !important;
}

.block-4-inner {
  width: 60vw;
  margin: auto;
  border: 1px solid #636363;
}

.block-3 {
  margin-bottom: 100px;
  background-color: #F8F9FA;
  padding: 50px 0;
}

.block-3 h1 {
    margin-top: 50px;
    font-family: 'HNB';
}

.block-3_inner {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  position: relative;
  z-index: 10;
}

.plate {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}

.plate h3 {
  font-size: 18px;
  line-height: 20px;
  color: #a00067;
  text-align: center;
}



.plate p {
  margin: 25px 0;
  text-align: center;
  font-family: 'HNL';
  line-height: 20px;
}

.plate b {
  font-family: 'HNC' !important;
}

.plate-img {
  width: 220px;
  height: 220px;
  background: url('../images/Ellipse 6.png') no-repeat center / contain;
  margin-bottom: 30px;
}

.plate:nth-child(5) .plate-img {
  background: url('../images/Ellipse 6 (1).png') no-repeat center / contain;
}

.plate:nth-child(6) .plate-img {
  background: url('../images/Ellipse 6 (2).png') no-repeat center / contain;
}






.apt-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.apt-container a {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 5px;
  border-radius: 20px;
  background: url("../images/icon_03_apteki_MD.jpg") no-repeat;
  background-position: center !important;
  background-size: 80% !important;
    background-color: white !important;
    box-shadow: -1px 4px 5px 0px rgba(224,224,224,1);
}

.apt-container a:nth-child(2) {
  background: url("../images/icon_06_apteki_MD.jpg") no-repeat center / contain;
}
.apt-container a:nth-child(3) {
  background: url("../images/icon_01_apteki_MD.jpg") no-repeat center / contain;
}
.apt-container a:nth-child(4) {
  background: url("../images/icon_07_apteki_MD.jpg") no-repeat center / contain;
}
.apt-container a:nth-child(5) {
  background: url("../images/icon_02_apteki_MD.jpg") no-repeat center / contain;
}
.apt-container a:nth-child(6) {
  background: url("../images/icon_05_apteki_MD.jpg") no-repeat center / contain;
}
.apt-container a:nth-child(7) {
  background: url("../images/icon_04_apteki_MD.jpg") no-repeat center / contain;
}

/*.accordion {*/
/*  display: none;*/
/*}*/

/*.panel {*/
/*  display: none;*/
/*}*/
.accordion {
  /*border: 1px solid white;*/
  /*border-radius: 30px;*/
  /*color: black;*/
  cursor: pointer;
  padding: 10px 35px !important;
  background-color: white;
  /*color: #A00067;*/
  /*padding: 16px;*/
  /*width: 65%;*/
  /*border: none;*/
  /*text-align: left;*/
  outline: none;
  font-size: 20px;
  transition: 0.5s;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(224, 224, 224, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(224, 224, 224, 1);
  box-shadow: -1px 4px 5px 0px rgba(224, 224, 224, 1);
}

.accordion-right {
  left: 65% !important;
}

.active-acc {
  background-color: #a00067 !important;
  color: white !important;
}

.active-acc,
.accordion:hover {
  /*background-color: #8b8b8b;*/
}

/*.accordion:after {*/
/*  content: '\002B';*/
/*  color: black;*/
/*  font-size: 18px;*/
/*  font-weight: bold;*/
/*  float: right;*/
/*  margin-left: 5px;*/
/*}*/

/*.active-acc:after {*/
/*  content: '\2212';*/
/*}*/
.active-nav {
  color: #a00067 !important;
  background-color: white !important;
}

.panel {
  max-width: 100%;
  /*margin: auto;*/
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 10px;
  color: #636363;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-family: 'HNC', sans-serif;
}

.panel__checklist p::before {
  content: '✓';
  margin-right: 10px;
}

.panel ul {
  text-align: left;
  font-size: 20px;
}

.panel__accent-text {
  color: green;
  font-weight: bold;
  font-size: 27px !important;
}

.panel p {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  font-family: 'HNL';
}

.panel__sub p {
  font-size: 15px;
}

.panel b {
  color: #a00067;
  font-family: 'HNC';
}

.panel-after {
  font-size: 15px;
}

.popup-btn {
  color: #a00067;
  border: 1px solid #a00067;
  background: white;
  padding: 5px 40px;
  font-size: 14px;
  line-height: 16px;
}

.block-5__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.block-5__plate {
  display: flex;
  height: 550px;
}
.block-5__img {
  width: 50%;
  background: url('../images/div_02.png') no-repeat center / contain;
}

.block-5__text-top {
  padding-right: 0 !important;
  padding-left: 15%;
}

.block-5__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  text-align: left;
  padding-right: 15%;
}

.block-5__text h4 {
  color: #636363;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0;
  font-family: 'HNT';
}

.block-5__text h4 b {
  font-family: 'HNB';
}

.block-5__un_plate {
  margin-bottom: 130px;
}

.block-5__text p {
  font-size: 16px;
  line-height: 20px;
  margin: 40px 0;
  margin-bottom: 0;
  color: #636363;
  font-family: 'HNL';
}

.block-5__text p b {
  color: #a00067;
  font-family: 'HNC';
}

.block-5__popup {
  width: 150px;
  position: relative;
  top: -45px;
}

.block-5__plate:nth-child(4) .block-5__img {
  background: url('../images/div_01.png') no-repeat center / contain !important;
}
.block-5__plate:nth-child(5) .block-5__img {
  background: url('../images/div_02 (1).png') no-repeat center / contain !important;
}
.block-5__plate:nth-child(7) .block-5__img {
  background: url('../images/div_01 (1).png') no-repeat center / contain !important;
}
.block-5__plate:nth-child(9) .block-5__img {
  background: url('../images/div_02 (2).png') no-repeat center / contain !important;
}

.map-text {
  /*margin: 70px 0;*/
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  font-family: 'HNL';
}

.map-text ol {
  padding-left: 15px;
}

.disclamer-tra {
  margin: auto;
  /*background: url('../images/bg.png');*/
  padding: 20px 0;
  width: 80vw;
  font-family: 'HNC';
}

.disclamer-tra ol {
  margin-bottom: 50px;
}

.disclamer-tra li {
  color: grey;
  font-family: 'HNC';
}

.disclamer-tra p {
  margin-bottom: 0;
  color: grey;
  text-align: center;
  font-family: 'HNT';
}

.disclamer-tra .logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 18px;
}

.logos-container p b {
  font-family: 'HNB';
}

.disclamer-tra__logo {
  height: 100px;
  width: 100px;
  background: url('../images/dhu.png') no-repeat center / contain;
  text-decoration: none;
}

.mobile {
  display: none;
}

.disclamer-tra__logo p {
  text-align: left;
  margin: 25px 100px;
  /*width: 350px;*/
}

.disclamer-tra__alpen {
  height: 100px;
  width: 100px;
  background: url('../images/logo2.png') no-repeat center / contain;
  text-decoration: none;
}

.disclamer-tra__alpen p {
  text-align: right;
  margin: 25px -255px;
  width: 250px;
}

.disclamer-tra__inner {
  background-color: #f8f9fa;
}

.disclamer-warning {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}

.disclamer-warning p {
  font-size: 76px;
  line-height: 90px;
  text-align: center;
  color: #8b8b8b;
  margin: 40px 0;
  font-family: 'HT';
  font-weight: lighter;
}

/*popup/////////*/


/*popup////////*/

/* popup */

.popup {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.popup.visible {
  visibility: visible;
  }
.popup__content {
  animation: scaleIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.popup__overlay {
  animation: fadeIn 0.3s linear forwards;
}

.popup__overlay {
  z-index: 5;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(245, 245, 245, 0.95);
}


.header-title-en b {
  font-size: 40px;
}


.popup__content {
  z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    border-radius: 5px;
    padding: 40px 20px;
    /*transform: scaleY(0.01) scaleX(0);*/
  }

.popup__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.popup__message {
  font-size: 18px;
  line-height: 20px;
  text-align: left !important;
  color: #454a54;
  font-family: 'HNC', sans-serif;
  margin-top: 30px;
  margin-bottom: 45px;
  }
.popup__message p b {
  text-align: left !important;
  color: #A00067;
}
.popup__message p {
  color: #636363;
  font-size: 16px;
  line-height: 17px;
  margin: 15px 0;
}
  .popup__close-btn {
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    background: url("../images/button_close.svg") no-repeat center / contain;
    background-color: transparent;
  }
  .popup__actions {
    display: flex;
    justify-content: center;
  }

.popup__actions .btn {
  margin: 0 10px;
}

/* keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*burger menu*/

#menuToggle {
  display: none;
  position: relative;
  top: 3px;
  left: 200px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #a00067;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 9px 0px;

  transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  right: -40px;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  border-radius: 10px;

  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  text-transform: uppercase;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/*end burger menu*/

@media screen and (max-width: 1024px) {
  .navigation-menu {
    display: none;
  }

  .instruction {
    height: 60px;
    width: 60px;
    top: 60px;
    left: 5px;
  }
  .instruction p {
    left: -10px;
    top: 35px;
    font-size: 9px;
  }

  .header-main-product-img {
    display: none;
  }
  .header-main-img {
    display: none;
  }
  .logo-container {
    margin-right: 30px;
  }

  .block-5__inner {
    width: 90vw;
  }

  .mobile {
    position: relative;
  }

  .test-img-mobile {
    /*width: 100%;*/
    height: 400px;
    position: relative;
    left: -20px;
    width: 95vw;
    background: url(../images/div_02.png) no-repeat center / contain !important;
  }

  .header-main-center p:nth-child(1) {
    margin-left: 4vw;
  }
  .header-main-center p:nth-child(2) {
    margin-left: 4vw;
  }
  .header-main-center p:nth-child(3) {
    margin-left: 4vw;
  }
  .header-main-center p:nth-child(4) {
    margin-left: 4vw;
  }

  .header-block-2 {
    flex-wrap: wrap;
  }
  .block-2__plate {
    margin-bottom: 80px;
    margin-right: 10px;
  }

  .block-3_inner {
    flex-direction: column;
  }
  .plate {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .block-5__plate {
    flex-direction: column;
  }
  #menuToggle {
    display: block;
  }


  #menu li a {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .disclamer-warning p {
    font-size: 35px;
    /*line-height: 70px;*/
  }

  .block-5__img {
    width: 100%;
    height: 50%;
  }

  .map2 {
    width: 100%;
  }

  .block-3 {
    padding-top: 20px;
    background: #F8F9FA;
  }

  .block-3 h1 {
    margin-top: 20px;
    padding: 10px;
  }

  h2 {
    padding: 20px;
  }



  .block-5__text {
    max-width: 100%;
  }

  .dt1 {
    text-align: left !important;
    /*font-family: 'HNC' !important;*/
  }

  .block-5 .block-5__text {
    font-size: 25px;
    line-height: 29px;
  }

  .block-5__text {
    padding: 0;
  }

  .block-5__text .block-5__text-top {
    padding: 0;
  }

  .header-main-product-img-mobile {
    margin-top: -70px;
    display: block;
    width: 360px;
    height: 300px;
    background: url('../images/pack_left_tonzilotren_tiny_400x400px 1 — copy.png') no-repeat center / contain;
  }

  .header-main-img-mobile {
    display: block;
    width: 360px;
    height: 300px;
    background: url('../images/div_04.png') no-repeat center / contain;
  }

  .header-main-center {
    margin-top: 0;
  }

  .block-interactive-inner {
    display: flex;
    flex-direction: column;
  }

  .block-4__buttons {
    width: 100%;
  }

  .mobile {
    display: block;
  }

  .block-4__container-content {
    max-width: 100%;
  }

  .block-4__subcontainer {
    width: 100%;
  }

  .block-4__buttons {
    border-right: none;
    border-bottom: 1px solid #636363;
  }

  .block-interactive-inner {
    margin-bottom: 100px;
  }

  .header-title {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .block-5__plate {
    display: none;
  }

  .popup__message {
    margin-bottom: 0;
  }

  .popup__content {
    width: 95vw;
  }

  .header-main {
    flex-direction: column;
  }

  .block-interactive-inner {
    width: 90vw;
  }

  .block-interactive-inner__img {
    display: none;
  }

  .block-5__popup {
    /*left: 22%;*/
    top: 50px;
  }

  .panel {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .accordion-right {
    left: 0 !important;
  }

  .test-img-mobile {
    margin-bottom: 50px;
  }

  h1 {
    margin: 20px 0;
  }

  .logos-container {
    margin-bottom: 0 !important;
  }


  .mob1 .test-img-mobile {
    background: url('../images/div_02.png') no-repeat center / contain !important;
  }
  .mob2 .test-img-mobile {
    background: url('../images/div_01.png') no-repeat center / contain !important;
  }
  .mob3 .test-img-mobile {
    background: url('../images/div_02 (1).png') no-repeat center / contain !important;
  }
  .mob4 .test-img-mobile {
    background: url('../images/div_01 (1).png') no-repeat center / contain !important;
  }
  .mob5 .test-img-mobile {
    background: url('../images/div_02 (2).png') no-repeat center / contain !important;
  }
  /*#menu li:last-child a {*/
  /*  border: 1px solid rgba(60, 60, 60, 0.4);*/
  /*  padding: 10px;*/
  /*  border-radius: 10px;*/
  /*  margin-left: 10px;*/
  /*}*/
  #menuToggle {
    left: 325px;
  }
}

@media screen and (max-width: 768px) {
  #menuToggle {
    left: 215px;
  }
  .non-usual {
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 450px) {

  .where-to-buy-mob {
    display: block;
    background-color: #a00067;
    color: white !important;
    font-size: 10px !important;
    line-height: 10px !important;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .test-img-mobile {
    /*width: 100%;*/
    height: 415px;
    position: relative;
    left: -20px;
    width: 100vw;
    background: url(../images/div_02.png) no-repeat center / contain !important;
  }
  #menuToggle {
    position: relative;
    top: 3px;
    left: 12px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
  .disclamer-tra .logos-container {
    flex-direction: column;
  }

  .disclamer-tra__alpen {
    margin-left: 155px;
  }
}
