/* fonts */

@font-face {
  font-family: 'MR';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'MM';
  src: url('../fonts/Montserrat-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'MB';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'MeB';
  src: url('../fonts/Montserrat-ExtraBold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'RT';
  src: url('../fonts/Roboto-Thin.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'RR';
  src: url('../fonts/Roboto-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'AR';
  src: url('../fonts/Akrobat-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'AL';
  src: url('../fonts/Akrobat-Light.otf');
  font-style: normal;
}
@font-face {
  font-family: 'AEB';
  src: url('../fonts/Akrobat-ExtraBold.otf');
  font-style: normal;
}
@font-face {
  font-family: 'ASB';
  src: url('../fonts/Akrobat-SemiBold.otf');
  font-style: normal;
}
@font-face {
  font-family: 'AB';
  src: url('../fonts/Akrobat-Bold.otf');
  font-style: normal;
}


/* common */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto;
  /*max-width: 1920px;*/
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
  
}

.block {
  margin: auto;
}

.blocked {
  overflow: hidden;
}

.active {
  color: black !important;
}

div {
  display: block;
}


.active-nav {
  color: red !important;
}




/* coldisept */

.container-5 {
  position: relative;
  overflow: hidden;
}

/* .container-5_inner {
  overflow: hidden;
} */

.mob-container-5_img-block {
  display: none;
}

p {
  color: #282725;
}

.container-2_mob {
  width: 100vw;
  height: 270px;
  background: url(../images/pack-mob.png)no-repeat center/contain;
  margin-bottom: 60px;
}

.container-2_mob {
  display: none;
}

.container-1_mob {
  display: none;
}

.container-1_mob p {
  color: #E0E0E0;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 42px;
  padding-left: 20px;
  font-family: "ASB";
}

.container-1_mob-top {
  display: flex;
  margin-bottom: 30px;
}

.container-1_mob {
  padding-top: 100px;
  background-color: #282725;
}

.mob-logo {
  width: 50%;
  height: 100px;
  background: url(../images/logo.svg)no-repeat center/contain;
  margin-left: 20px;

}

.mob-silver {
  width: 50%;
  height: 100px;
  background: url(../images/photo_nanosilver.svg)no-repeat center/contain;
}

.mob-head {
  width: 100%;
  height: 250px;
  background: url(../images/main-mob.svg)no-repeat center/contain;
}

.container-1_left-img {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 239px;
  height: 120px;
  background: url(../images/logo.svg)no-repeat center/contain;
}

.container-1_left-img-en {
  background: url(../images/logo-en.svg)no-repeat center/contain;
}

.container-1_left p {
  position: absolute;
  top: 250px;
  left: 60px;
  max-width: 250px;
  font-size: 38px;
  line-height: 44px;
  color: #E0E0E0;
  text-transform: uppercase;
  font-family: "AB";
}
.container-1_left p sup {
  font-size: 25px;
}

.container-1 {
  /* height: 520px; */
  width: 100vw;
  display: flex;
}
.container-1_left {
  position: relative;
  width: 25%;
  background-color: #282725;
}

.container-1_right {
  width: 75%;
  height: 520px;
  background: url(../images/main-bg.png)no-repeat 0/cover;
}

.container-3_right-block {
  width: 590px;
}

.container-3_main {
  display: flex;
  justify-content: space-between;
}

/* comparator */



.c-compare {
  --h: 13;
  --m: 1rem 0;
  --w: 16;
  /* --thumb-bgc: red; */
  /* --thumb-bgc-focus: red; */
  --thumb-w: 2px;

  margin: var(--m);
  position: relative;
}
.c-compare::after {
  content: "";
  display: block;
  padding-bottom: calc((var(--h) / var(--w)) * 100%);
}
.c-compare__left,
.c-compare__right {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.c-compare__left {
  clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
}
.c-compare__right {
  clip-path: polygon(100% 0%, var(--value) 0%, var(--value) 100%, 100% 100%);
}
.c-compare__range {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  height: 100%;
  margin: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.c-compare__range::-moz-range-thumb {
  background-color: var(--thumb-bgc);
  cursor: ew-resize;
  height: 100%;  
  width: var(--thumb-w);
}
.c-compare__range::-webkit-slider-thumb {
  /* background-color: var(--thumb-bgc); */
  cursor: ew-resize;
  height: 100%; 
  width: 50px;
  background: url(../images/arrow.png)no-repeat center/contain;
}

.c-compare__range:focus::-webkit-slider-thumb {
  background-color: var(--thumb-bgc-focus);
  box-shadow: 0 0 0 3px var(--thumb-bgc);
}
.c-compare__range:focus::-moz-range-thumb {
  background-color: var(--thumb-bgc-focus);
  box-shadow: 0 0 0 3px var(--thumb-bgc);
}
.c-compare__range::-moz-range-track {
  background: transparent;
  background-size: 100%;
  box-sizing: border-box;
}
.c-compare__range::-webkit-slider-runnable-track {
  background: transparent;
  background-size: 100%;
  box-sizing: border-box;
  height: 100%;
}
.c-compare__range,
.c-compare__range::-webkit-slider-runnable-track,
.c-compare__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}


/* comparator */



.container-7 {
  font-size: 12px;
  line-height: 18px;
  color: #828282;
  font-family: "AR";
  margin: 140px 0;
}

.container-7_title {
  font-family: "AB";
}

.container-7_mark {
  margin-top: 20px;
}

.container-6_plates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.container-6_plate:nth-child(1) {
  border-top: 1px solid #E0E0E0;
}
.container-6_plate:nth-child(2) {
  border-top: 1px solid #E0E0E0;
}
.container-6_plate {
  width: 45%;
  padding: 30px 0;
  border-bottom: 1px solid #E0E0E0;
  font-size: 22px;
  line-height: 30px;
  font-family: "AR";
}
.container-6_plate p {
  color: #E0E0E0;
}
.container-6 {
  background-color: #282725;
  padding: 50px 0;
  margin-top: 140px;
}
.container-6_inner {
  width: 990px;
  margin: auto;
  padding: 0 20px;

}
.container-6_top h2 {
  color: white;
  font-size: 64px;
  line-height: 64px;
  font-family: 'ASB';
}
.container-6_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-6_img {
  width: 50%;
  height: 340px;
  background: url(../images/photo_nanosilver.svg)no-repeat center/contain;
}


.container-5_btns {
  display: flex;
}
.container-5_btns a {
  display: block;
  width: 244px;
  height: 60px;
  color: white;
  background-color: #B90F82;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  font-family: "ASB";
  margin-right: 20px;
}
.container-5_btns a:nth-child(2) {
  color: #B90F82;
  background-color: white;
  border: 1px solid #B90F82;
}


.container-3_left-block sup {
  font-size: 10px;
}

.container-5_text-block h2 {
  color: #B90F82;
}

.container-5_text-block {
  max-width: 60%;
}

.container-5_blue a {
  background-color: #00A0DC;
}
.container-5_blue .container-5_btns a:nth-child(2) {
  color: #00A0DC;
  background-color: white;
  border: 1px solid #00A0DC;
}
.container-5_blue .container-5_text-block h2 {
  color: #00A0DC;
}

.container-5_orange a {
  background-color: #F07800;
}
.container-5_orange .container-5_btns a:nth-child(2) {
  color: #F07800;
  background-color: white;
  border: 1px solid #F07800;
}
.container-5_orange .container-5_text-block h2 {
  color: #F07800;
}


.container-5_text-block p {
  font-size: 22px;
  line-height: 26px;
  font-family: "AR";
  margin-bottom: 60px;
}
.container-5_text-block p b {
  font-size: 22px;
  line-height: 26px;
  font-family: "AB";
}

.container-5_h2 {
  margin: 0;
  font-family: "AL";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter;
}

.container-5_img-block {
  position: absolute;
    left: 65%;
    top: 0px;
    width: 100%;
  height: 550px;
  background: url(../images/pack-with-back.png)no-repeat 20%/contain;
}
.container-5_img-block-ru {
  background: url(../images/pack-with-back-ru.png)no-repeat 20%/contain;
} 
.container-5_blue .container-5_img-block-ru {
  background: url(../images/pack-with-back2-ru.png)no-repeat 20%/contain;
}
.container-5_orange .container-5_img-block-ru {
  background: url(../images/pack-with-back3-ru.png)no-repeat 20%/contain;
}
.container-5_blue .container-5_img-block {
  background: url(../images/pack-with-back2.png)no-repeat 20%/contain;
}
.container-5_orange .container-5_img-block {
  background: url(../images/pack-with-back3.png)no-repeat 20%/contain;
}

.container-5_inner {
  display: flex;
  max-width: 990px;
  margin: auto;
  position: relative;
}
.container-5_plate {
  position: relative;
  width: 45%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-left: 30px;
}

.container-5_plate p {
  font-size: 16px;
  font-weight: lighter;
  font-family: "AB";
  color: #4F4F4F;

}

.container-5_plate:nth-child(3) {
  margin-bottom: 0;
}
.container-5_plate:nth-child(4) {
  margin-bottom: 0;
}

.container-5_plate::before {
  position: absolute;
  left: 0px;
  top: 5px;
  content: '';
  width: 15px;
  height: 15px;
  background: url(../images/bullet.svg)no-repeat center/contain;
}
.container-5_blue .container-5_plate::before {
  background: url(../images/bullet2.svg)no-repeat center/contain;
}
.container-5_orange .container-5_plate::before {
  background: url(../images/bullet3.svg)no-repeat center/contain;
}

.container-5_plate p {
  margin-bottom: 0;
}
.container-5_plates {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  padding: 30px 0;
  margin: -30px 0 60px;
}

.container-4_left {
  width: 60%;
  height: 480px;
  background: url(../images/photo-left1.jpg)no-repeat center/cover;
}

.container-4_right {
  background-color: #B90F82;
  /* height: 480px; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-4 {
  display: flex;
  margin-top: 140px;
  margin-bottom: 80px;
}

.container-4_inner {
  font-size: 52px;
  line-height: 64px;
  font-family: "AR";
  text-transform: uppercase;
  color: white;
  max-width: 49%;
}

.container-4_inner p {
  color: white;
}

.container-4_left2 {
  background: url(../images/photo-right1.jpg)no-repeat center/cover;
}

.container-4_right-blue {
  background-color: #00A0DC;
}

.container-4_left3 {
  background: url(../images/photo-left2.jpg)no-repeat center/cover;
}

.container-4_right-orange {
  background-color: #F07800;
}

h2 {
  margin: 0;
  font-family: 'AL';
  font-size: 38px;
  line-height: 42px;
  color: #282725;
  text-transform: uppercase;
  margin-bottom: 60px;
}

h2 b {
  font-family: 'AEB';
}

h2 span {
  text-transform: lowercase;
}
.container-2 {
  margin-bottom: 120px;
}
.container_inner {
  width: 990px;
  margin: auto;
}

.container-2_plates {
  display: flex;
  justify-content: space-between;
}

.container-2_plate {
  border: 1px solid #B90F82;
  padding: 20px;
  width: 32%;
}
.container-2_plate:nth-child(2) {
  border: 1px solid #00A0DC;
}
.container-2_plate:nth-child(2) .container-2_plate-title {
  color: #00A0DC;
}
.container-2_plate:nth-child(3) {
  border: 1px solid #F07800;
}
.container-2_plate:nth-child(3) .container-2_plate-title {
  color: #F07800;
}

.container-2_plate p {
  font-size: 22px;
  line-height: 26px;
  font-family: 'AR';
}

.container-2_plate-title {
  color: #B90F82;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'AEB';
  margin-bottom: 20px;
}


.container-3_left-block {
  width: 39%;
}
/* .container-3_left-block {
  width: 65%;
} */

.container-3_left-block p {
  font-size: 22px;
  line-height: 26px;
  font-family: "AR";
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.container-3_left-block p::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: url(../images/bullet.svg)no-repeat center/contain;
}






.vita-footer {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
  .vita-footer_inner {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }
  .vft {
    display: flex;
    justify-content: space-between;
  }
  .vita-footer_text {
    font-family: "MR";
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #828282;
    max-width: 800px;
  }

  /* .vita-footer .logo1 {
      width: 160px;
      height: 60px;
      background: url(../images/logo_01_schwabe.svg) no-repeat center/contain;
  }
  .vita-footer .logo2 {
    width: 160px;
      height: 60px;
      background: url(../images/Vector123.svg) no-repeat center/contain;
  } */
  .vita-disclamer {
    font-family: "RT";
    font-size: 130px;
    line-height: 130px;
    text-align: center;
    color: #828282;
    margin: 40px 0;
  }







/*accordion*/

/*.accordion {*/
/*  display: none;*/
/*}*/

/*.panel {*/
/*  display: none;*/
/*}*/
.accordion {
  /*border: 1px solid white;*/
  /*border-radius: 30px;*/
  /*color: black;*/
  cursor: pointer;
  padding: 20px 0 !important;
  background-color: white;
  /*color: #A00067;*/
  /*padding: 16px;*/
  /*width: 65%;*/
  /*border: none;*/
  /*text-align: left;*/
  outline: none;
  font-size: 20px;
  transition: 0.5s;
  /*-webkit-box-shadow: -1px 4px 5px 0px rgba(224, 224, 224, 1);*/
  /*-moz-box-shadow: -1px 4px 5px 0px rgba(224, 224, 224, 1);*/
  /*box-shadow: -1px 4px 5px 0px rgba(224, 224, 224, 1);*/
}

.panel strong{
  font-family: "MB";
}

.accordion-container {
  /*max-width: 60vw;*/
  margin: auto;
}

.accordion-right {
  left: 65% !important;
}

.active-acc {
}

.active-acc,
.accordion:hover {
  /*background-color: #8b8b8b;*/
}

.accordion::after {
  content: '';
  background: url("../images/Vector 1.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transition: 0.5s;
}

.accordion:hover::after {
  background: url("../images/hover_button_plus.svg") no-repeat center/contain;
}


.factors-mob {
  display: none;
  color: white;
  background-color: #133A87;
  border-radius: 5px;
  padding: 5px;
  font-size: 11px;
    line-height: 11px;
    font-family: 'RR';
    text-transform: uppercase;
    margin-top: 15px;
    max-width: 100px;
}

.active-acc:after {
  transition: 0.5s;
  transform: rotate(45deg);
}



.active-nav {
  color: #133A87 !important;
  background-color: white !important;
}

.panel {
  max-width: 100%;
  /*margin: auto;*/
  margin-top: 10px;
  /*margin-bottom: 100px;*/
  border-radius: 10px;
  color: #636363;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-family: 'HNC', sans-serif;
}

.panel__checklist p::before {
  content: '✓';
  margin-right: 10px;
}

.panel ul {
  text-align: left;
  font-size: 20px;
}

.panel__accent-text {
  color: green;
  font-weight: bold;
  font-size: 27px !important;
}

.panel p {
  text-align: left;
  font-size: 18px;
line-height: 26px;
  margin-bottom: 30px;
  font-family: 'MR';
}

.panel__sub p {
  font-size: 15px;
}

.panel b {
  color: #a00067;
  font-family: 'RR';
}

.panel-after {
  font-size: 15px;
}


/*neiroplant*/


/*AlpiKid*/

.header-mob {
  display: none;
}

.block-1_outer {
  margin: auto;
  max-width: 1200px;
}

.header-block {
  padding-top: 50px;
  height: 580px;
  width: 100%;
  background: rgb(0,167,157);
  background: linear-gradient(90deg, rgba(120,208,203,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(120,208,203,1) 100%);
}
.header-main {
  padding-top: 50px;
  margin: auto;
  width: 1150px;
  height: 100%;
  display: flex;
}

.block-6_ttt {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.header-text {
  width: 45%;
  height: 100%;
}
.header-text p {
  font-family: "MR";
  font-size: 38px;
  line-height: 38px;
  color: #F57416;
}

.header-text_img {
  width: 100%;
  height: 320px;
  background: url('../images/picture_child.png') no-repeat center/contain;
}
.header-text .header-sub {
  font-size: 16px;
  line-height: 18px;
  color: #5F5C58;
}

.header-dragon {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-dragon_dragon {
  width: 410px;
  height: 320px;
  /*margin-right: 22px;*/
  background: url('../images/picture_dragon.svg') no-repeat center/contain;
}
.header-dragon p {
  max-width: 230px;
  font-family: "MB";
  font-size: 76px;
  line-height: 68px;
  color: #00A79D;
}

.product {
  width: 276px;
  height: 223px;
  background: url('../images/pack.png') no-repeat center/contain;
}

.header-text strong {
  font-size: 82px;
  line-height: 82px;
  font-family: 'MB';
  color: #F57416;
}

.header-text {
  
}

.block-1 {
  padding: 70px; 
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-bottom: 200px;
}
.block-1_image {
  width: 153px;
  height: 186px;
  background: url('../images/question.svg') no-repeat center/contain;
}
.block-1_image-block {
  position: relative;
  margin-bottom: 60px;

}
.block-1_image-block p {
  max-width: 600px;
  top: 50px;
  left: 100px;
  position: absolute;
  font-size: 38px;
  line-height: 38px;
  color: #00A79D;
}
.block-1_image-block p strong {
  font-family: 'MB';
}
.block-1_plates {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.block-1_plate {
  width: 160px;
  height: 150px;
  padding-bottom: 30px;
  border-bottom: 1px solid #768187;
  position: relative;
}
.block-1_plate p {
  position: absolute;
  top: 45%;
    font-size: 16px;
    line-height: 22px;
  font-family: 'MM';
  color: #5F5C58;
}
.block-1_plate:nth-child(1) {
  background: url('../images/number_01.svg') no-repeat;
  background-position: top;
  
}
.block-1_plate:nth-child(2) {
  background: url('../images/number_02.svg') no-repeat;
background-position: top;
}
.block-1_plate:nth-child(3) {
  background: url('../images/number_03.svg') no-repeat;
background-position: top;
}
.block-1_plate:nth-child(4) {
  background: url('../images/number_04.svg') no-repeat;
background-position: top;
}

.block-2-head {
  background-color: #00A79D;
  height: 300px;
  width: 100vw;
}

.block-2 {
  max-width: 860px;
  margin: auto;
  display: flex;
  margin-top: -391px;
  position: relative;
  margin-bottom: 120px;
}

.block-2_text {
  width: 50%;
  height: 300px;
  position: relative;
  top: 130px;
}
.block-2_image {
  background: url('../images/picrute_01.svg') no-repeat center/contain;
  width: 380px;
  height: 390px;
  margin-left: 50px;
}

.block-2_text p {
  font-size: 35px;
  line-height: 38px;
  color: white;
  font-family: 'MR';
}

.block-2_text p strong {
  font-family: 'MeB';
}

.yellow-corner_top {
  background: url('../images/corner_left.svg') no-repeat center/contain;
  width: 28px;
  height: 28px;
}
.yellow-corner_bottom {
  background: url('../images/Vector 7.svg') no-repeat center/contain;
  width: 100%;
    height: 28px;
    background-position-x: right;
}

.block-3 p {
  max-width: 900px;
  margin: auto;
  font-size: 20px;
  line-height: 28px;
  color: #5F5C58;
  font-family: 'MR';
  padding-bottom: 60px;

}
.block-3 p strong {
  font-family: 'MB';
}



.block-h2 {
  /*justify-content: center;*/
  max-width: 900px;
    display: flex;
    margin: auto;
}

.block-4 {
  margin: auto;
  max-width: 900px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-4_plate-img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background: url('../images/bullet_01.svg') no-repeat center/cover;
}

.block-4_plate p {
  font-size: 18px;
  line-height: 28px;
  color: #5F5C58;
  width: 80%;
  font-family: 'MR';
}

.block-2_short {
  margin-bottom: 0px;
}

.block-4_plate {
  height: 100px;
  width: 45%;
  display: flex;
}

.block-2_image-2 {
  background: url('../images/picture_02.png') no-repeat center/contain;

}



.block-5_outer {
  max-width: 900px;
  margin: auto;
}
.block-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 300px;
}
.block-5_plate {
  width: 45%;
  padding: 30px 0;
  border-bottom: 1px solid #768187;
}
.block-5_plate h4 {
  font-size: 20px;
line-height: 24px;
color: #00A79D;
}

.yellow-corner_bottom-2 {
  width: 90%;
}

.block-5_plate p {
  font-size: 18px;
  line-height: 28px;
  color: #5F5C58;
  font-family: 'MR';
}

.block-5_plate:nth-child(1) {
  border-top: 1px solid #FFE500;
}
.block-5_plate:nth-child(2) {
  border-top: 1px solid #FFE500;
}

.block-2_image-3 {
  background: url('../images/picture_03.png') no-repeat center/contain;
      height: 430px;
}

.block-6_outer {
  max-width: 900px;
  margin: auto;
}

.block-6 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.block-6_plate {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #FFE500;
}

.block-6_plate:nth-child(2) .block-6_plate-img {
  background: url('../images/icon_02.svg') no-repeat center/contain;

}

.block-6_plate-img {
  width: 100px;
  height: 135px;
  margin-bottom: 30px;
  background: url('../images/icon_01.svg') no-repeat center/contain;
}
.block-6_plate h5 {
  font-size: 20px;
  line-height: 24px;
  color: #5F5C58;
  margin: 0;
  font-family: 'MM';
}
.block-6_plate li {
  font-size: 18px;
  line-height: 28px;
  color: #5F5C58;
  font-family: 'MR';
}

.block-7_outer {
  max-width: 900px;
  margin: auto;
}

.block-7 {
  border-bottom: 1px solid #FFE500;
  padding: 30px 0;
  margin-bottom: 160px;
}

.block-7 h5 {
  font-size: 20px;
  line-height: 24px;
  color: #5F5C58;
  margin: 0;
  font-family: 'MM';
}

.block-7 p {
  font-size: 18px;
  line-height: 28px;
  color: #5F5C58;
  font-family: 'MR';
}

.block-8_outer {
  max-width: 900px;
  margin: auto;
}


.accordion {
  cursor: pointer;
  padding: 30px 0 !important;
  background-color: white;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
  font-family: 'MM';
  font-weight: lighter;
  color: #5F5C58;
}


.accordion-container {
  /*max-width: 60vw;*/
  margin: auto;
}

.accordion-right {
  left: 65% !important;
}

.active-acc {
}

.active-acc,
.accordion:hover {
  /*background-color: #8b8b8b;*/
}

.accordion::after {
  content: '';
  background: url("../images/button.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
  color: #5F5C58;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transition: 0.5s;
}

.accordion:hover::after {
  background: url("../images/button.svg") no-repeat center/contain;
}

.active-acc:after {
  transition: 0.5s;
    transform: rotate(45deg);
}

.accordion {
  border-top: 1px solid #768187;
}

.block-7__img {
  background: url("../images/map 1.jpg") no-repeat center/contain;
  margin: auto;
  height: 400px;
  width: 100%;
}



.disclamer-tra {
  margin: auto;
  /*background: url('../images/bg.png');*/
  padding: 20px 0;
  width: 85vw;
  font-family: 'RR';
}

.disclamer-tra ol {
  margin-bottom: 50px;
}

.disclamer-tra li {
  color: grey;
  font-family: 'RR';
}

.disclamer-tra p {
  margin-bottom: 0;
  color: grey;
  font-size: 14px;
  text-align: left;
  font-family: 'RR';
}

.disclamer-tra .logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 18px;
}

.logos-container p b {
  font-family: 'RR';
}

.disclamer-tra__logo {
  height: 100px;
  width: 100px;
  background: url('../images/dhu.png') no-repeat center / contain;
  text-decoration: none;
}

.mobile {
  display: none;
}



.logo-block {
  display: flex;
  max-width: 85vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.dt1 {
  max-width: 75%;
  font-size: 14px;
  line-height: 18px;
  font-family: 'RR';
}

.disclamer-tra__logo p {
  text-align: left;
  margin: 25px 100px;
  /*width: 350px;*/
}

.disclamer-tra__alpen {
  height: 100px;
  width: 100px;
  display: block;
  background: url('../images/logo2.png') no-repeat center / contain;
  text-decoration: none;
}

.disclamer-tra__alpen p {
  text-align: right;
  margin: 25px -255px;
  width: 250px;
  font-family: 'RR';
}

.disclamer-tra__inner {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.disclamer-warning {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}

.disclamer-warning p {
  font-size: 120px;
  /*line-height: 70px;*/
  text-align: center;
  color: #8b8b8b;
  margin: 40px 0;
  font-family: 'RT';
  font-weight: lighter;
}


/*AlpiKid*/





.outer-navigation-container {
  background: transparent;
  width: 100vw;
  z-index: 1005;
  /*background: #030406;*/
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  top: 0;
      /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
    /*-webkit-box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);*/
    /*-moz-box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);*/
    /*box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);*/
}

/*/////newpoint*/







/*puppet for ancor*/

.puppet {
	position: absolute;
	height: 100vh;
	margin-top: 100px;
	/*width: 100vw*/
}





.lang b {
  /*color: white;*/
  text-decoration: underline;
}
.lang-dop {
	margin-right: 5px !important;
}



.navigation-container {
  display: flex;
    align-items: center;
    width: 95%;
    justify-content: flex-end;
  margin: auto;
    position: relative;
}

.logo-container {
  display: none !important;
  background: url('../images/logo.svg') no-repeat center / contain;
  width: 125px;
  height: 40px;
  display: block;
  position: absolute;
  left: 0;
}

.logo-container-ru {
  background: url('../images/logo.svg') no-repeat center / contain;
}

.logo-container-en {
  background: url("../images/Tonsilotren_LogoRGB_en.svg")  no-repeat center / contain !important;
}

.where-to-buy {
  background-color: #282725;
  color: white !important;
  /* font-size: 10px !important; */
  /* line-height: 10px !important; */
  /* font-weight: bold; */
  padding: 10px 20px;
  border-radius: 10px;
}

.disclamer-container {
  width: 100%;
  padding: 50px 0;
}

.disclamer-main {
  width: 1024px;
  margin: auto;
}

.disclamer-main p {
  font-size: 14px;
  line-height: 25px;
  color: #828282;
}


.disclamer-main_sub {
  text-transform: uppercase;
  font-family: 'RT';
  text-align: center;
  font-size: 100px !important;
  line-height: 100px !important;
  margin-top: 45px;
  font-weight: lighter;
}






.panel {
  /*margin-bottom: 20px;*/
  border-radius: 10px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;

}

.panel, .panel p {
  text-align: left;
}

/*.panel p {
  padding: 30px 0; 
  line-height: 30px;
  font-size: 18px;
}*/

.panel p b {
  color: #2a874c
}

.panel .panel-after {
  font-size: 15px
}

button {
  border: none;
  text-decoration: none;
  color: #828282;
  font-size: 14px;
}

button:focus {
  outline: none;
}

.panel-img {
  margin: 40px 0;
  width: 795px;
  height: 488px;
  background: url("../images/Rectangle 9.jpg") no-repeat center / contain;
}



.map-container {
  width: 900px;
  margin: auto;
margin-bottom: 50px;

}
.map-container p {
font-family: 'MR';
font-size: 14px;
}

.where-to-buy-mob {
  display: none;
}

.lang {
  /*border: 1px solid #636363;*/
  /*padding: 5px;*/
  /*border-radius: 5px;*/
  /*color: white !important;*/
}

.navigation-menu a {
  margin-right: 12px;
  text-transform: uppercase;
  color: #4F4F4F;
  font-size: 16px;
  font-family: 'AB', sans-serif;
  line-height: 16px;
}



.instr-outer {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 15;
  padding-top: 70px;
}

.instr-inner {
  width: 1200px;
  margin: auto;
}

.instruction {
  /*position: fixed;*/
  /*top: 80px;*/
  /*left: 20px;*/
  display: block;
  width: 35px;
  height: 35px;
  background: url('../images/instruction.svg') no-repeat center / contain;
}



.instruction p {
  position: relative;
  left: -10px;
  top: 40px;
  font-size: 11px;
  background-color: transparent;
  color: #1D1D1F;
}



.navigation-menu {
  max-width: 1600px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}





.hidden {
  display: none;
}





.disclamer-tra {
  margin: auto;
  /*background: url('../images/bg.png');*/
  padding: 20px 0;
  width: 85vw;
  font-family: 'RR';
}

.disclamer-tra ol {
  margin-bottom: 50px;
}

ol {
  font-family: sans-serif;
  font-weight: lighter;
}
.disclamer-main_title {
  font-weight: bolder;
}
.disclamer-tra li {
  color: grey;
}

.disclamer-tra p {
  margin-bottom: 0;
  color: grey;
  font-size: 14px;
  text-align: left;
}

.disclamer-tra .logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 18px;
}

.logos-container p b {
  font-family: 'RR';
}



.where-to-buy__bottom {
  background-color: #004494;
  padding: 15px 25px;
  font-size: 30px;
  font-family: "MB";
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: -1px 4px 5px 0px rgba(107, 107, 107,1);
}

.disclamer-tra__logo {
  height: 100px;
  width: 100px;
  background: url('../images/dhu.png') no-repeat center / contain;
  text-decoration: none;
}

.mobile {
  display: none;
}


.logo1 {
  display: flex;
  align-items: center;

}
.logo1 p {
  font-size: 14px !important;
  line-height: 18px;
  color: #828282;
  font-weight: lighter;
}
.logo1-img {
  height: 100px;
  width: 100px;
  background: url('../images/Logo_engelhard 1.png') no-repeat center / contain;
}
.logo2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}
.logo2 p {
  font-size: 14px !important;
  line-height: 18px;
  color: #828282;
  font-weight: lighter;
}
.logo2-img {
  height: 100px;
  width: 100px;
  background: url('../images/logo2.png') no-repeat center / contain;
}

.logo-block {
  display: flex;
  /*flex-direction: column;*/
  max-width: 1024px;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
}
.dt1 {
  max-width: 46%;
  font-size: 14px;
  line-height: 18px;
}

.disclamer-tra__logo p {
  text-align: left;
  margin: 25px 100px;
  /*width: 350px;*/
}

.disclamer-tra__alpen {
  height: 100px;
  width: 100px;
  display: block;
  background: url('../images/logo2.png') no-repeat center / contain;
  text-decoration: none;
}

.disclamer-tra__alpen p {
  text-align: right;
  margin: 25px -255px;
  width: 250px;
  font-family: 'RR';
  font-size: 14px;
}
.disclamer-tra__alpen p b {
  font-family: 'RR';
}

.disclamer-tra__klein {

  background: url('../images/logo_klein 1.png') no-repeat bottom / contain;
  background-size: 60%;
}

.disclamer-tra__klein p {
  margin: 25px -50px;
  width: 300px;
}

.disclamer-tra__inner {
  padding: 60px 0;
}

.disclamer-warning {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}

.disclamer-warning p {
  font-size: 120px;
  /*line-height: 70px;*/
  text-align: center;
  color: #8b8b8b;
  margin: 40px 0;
  font-family: 'RT';
  font-weight: lighter;
}


/* keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*burger menu*/

#menuToggle {
  display: none;
  position: relative;
  top: 3px;
  left: 200px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #E0E0E0;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 9px 0px;

  transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -1px);
  background: #E0E0E0;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  height: 110vh;
  right: -40px;
  width: 110vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  border-radius: 10px;

  background: #282725;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  text-transform: uppercase;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


#menuToggle .input-li {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 200px;
}

/*#menuToggle input:checked ~ ul {*/
/*  */
/*}*/


/*.active-li {
  transform: translate(100%, 0);
}*/

.mobile-block1 {
  display: none;
}
.mob-section {
  display: none;
}

.container-1 {
  margin-bottom: 60px;
}



@media screen and (max-width: 1024px) {
  .container-5_inner {
    width: 90%;
  }
  .container-1_left-img {
    width: 140px;
  }
  .container-5_img-block {
    left: 53%;
  }
  .container-1_left p {
    font-size: 26px;
    line-height: 30px;
  }
  .container-5_inner {
    overflow: hidden;
  }
  .vita-disclamer {
    font-size: 100px;
  }
  .container-6_inner {
    width: 100%;
    padding: 0 40px;
  }
  .container_inner {
    width: 90%;
  }
}




@media screen and (max-width: 900px) {
  .container-3_right-block {
    width: 100%;
  }
  .vita-footer_text {
    padding: 0 20px;
  }
  .vita-disclamer {
    font-size: 80px;
  }
  .container-1_left p {
    font-size: 22px;
    line-height: 28px;
  }
  .container-5_text-block {
    /* padding-left: 40px; */
  }
  .container-6_inner {
    padding: 0 40px;
  }
  .container-3_main {
    flex-direction: column-reverse;
  }
  /* .container-5_img-block {
    left: 5%;
  } */
  .container-3_left-block {
    width: 90%;
  }
  .container-1_left-img {
    left: 30px;
  }
  .container-1_left p {
    left: 30px;
  }
}

@media screen and (max-width: 900px) {
  .container-3_right-block {
    width: 100%;
  }
  .container-1_left p sup {
    font-size: 14px;
  }
  .container-3_main {
    flex-direction: column-reverse;
  }
  .container-3_left-block {
    margin-top: 60px;
  }
  .container-3_left-block {
    width: 90%;
  }
}
@media screen and (max-width: 760px) {
  .mob-container-5_img-block {
    display: block;
    width: 100%;
    height: 400px;
    background: url(../images/pack-with-back.png)no-repeat 10%/cover;
    margin-bottom: 60px;
  }
  .mob-container-5_img-block-blue {
    background: url(../images/pack-with-back2.png)no-repeat 10%/cover !important;
  }
  .mob-container-5_img-block-orange {
    background: url(../images/pack-with-back3.png)no-repeat 10%/cover !important;
  }
  
  .container-1_mob {
    display: block;
  }
  .container-2_mob {
    display: block;
  }
  .container-1 {
    display: none;
  }
  /* .outer-navigation-container {
    background-color: #282725;
  } */
  .container-2_plate {
    width: 100%;
    margin-bottom: 20px;
  }
  .container-2_plates {
    flex-direction: column;
  }
  .container-3_right-block {
    width: 100%;
  }
  .container-3_main {
    flex-direction: column-reverse;
  }
  .container-3_left-block {
    width: 100%;
    margin-top: 60px;
  }
  .container-4_inner {
    padding: 60px 40px;
    font-size: 52px;
    line-height: 64px;
    max-width: 80%;
    text-align: center;
  }
  .container-4_left {
    height: 360px;
  }
  .container-4_left {
    background: url(../images/photo.jpg)no-repeat center/cover;
  }
  .container-4_left2 {
    background: url(../images/photo2-mob.jpg)no-repeat center/cover;
  }
  .container-4_left3 {
    background: url(../images/photo3-mob.jpg)no-repeat center/cover;
  }
  .container-4 {
    flex-direction: column;
  }
  .container-4_right {
    width: 100%;
  }
  .container-4_left {
    width: 100%;
  }
  .container-5_text-block {
    max-width: 90%;
  }
  .container-5_plate {
    width: 90%;
  }
  .container-5_img-block {
    display: none;
  }
  .container-5_plate p {
    margin-bottom: 15px;
  }
  .container-5_plates {
    flex-direction: column;
  }
  .container-5_inner {
    padding-left: 20px;
  }
  .container-5_btns {
    flex-direction: column;
  }
  .container-5_btns a {
    margin-bottom: 20px;
  }
  .container-6_img {
    width: 100%;
  }
  .container-6_plate {
    width: 100%;
  }
  .container-6_inner {
    width: 90%;
  }
  .container-6_top {
    flex-direction: column;
  }
  .container-6_plates {
    flex-direction: column;
  }
  .container_inner {
    width: 90%;
  }
  .logo-container {
    left: 20px;
  }
  .instr-inner {
    width: 970px;
  }
  
  .vita-disclamer {
    font-size: 100px;
  }
  .vita-footer_text {
    max-width: 550px;
  }
  
}

@media screen and (max-width: 768px) {
  .vita-disclamer {
    font-size: 70px;
  }
  
  .instr-inner {
    width: 95%;
  }
}


@media screen and (max-width: 600px) {
  .lang b {
    color: #4F4F4F;
  }
  .vft {
  flex-direction: column;
  align-items: center;
}
.vita-footer_text {
  max-width: 100%;
}
.vita-footer_inner {
  max-width: 100%;
  padding: 0 10px;
}
.vita-disclamer {
  font-size: 40px;
   line-height: 50px;
}

  .mob-section {
    display: block;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    color: white;
  }
  .mob-main-text {
    font-size: 40px;
    line-height: 54px;
    font-family: 'MB';
    padding-top: 30px;
  }
  .mob-main-text sup {
    font-size: 25px;
    font-family: 'MR';
  }
  .mob-text {
    font-size: 38px;
    line-height: 42px;
    font-family: 'MM';
    padding-top: 20px;
  }


  .accordion {
    font-size: 15px;
  }
  .accordion::after {
    width: 20px;
    height: 20px;
  }


  .block-5_plate:nth-child(2) {
  border-top: none;
}
  .yellow-corner_bottom-2 {
    width: 100%;
  }
  .header-mob {
    display: block;
  }
  .block-2 {
    flex-direction: column;
  }
  .block-1 {
    width: auto;
    height: auto;
    padding: 40px;
    margin-bottom: 0;
  }
  .block-2-head {
    height: 750px;
  }
  .block-2_text {
    width: auto;
    padding: 20px;
    height: 300px;
    position: relative;
    top: -310px;
  }
  .block-2_image {
    position: absolute;
    top: 50px;
    width: 330px;
    height: 320px;
    margin-left: 0px;
    margin: 20px;
  }
  .block-2_text p {
    font-size: 32px;
  }
  .block-5 {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .block-2_image-3 {
    top: 58px;
  }
  .block-6 {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .block-6_plate {
    width: 90%;
    margin: 20px; 
  }
  .block-7 {
    margin: 20px;
    margin-bottom: 100px;
  }
  .accordion-container {
    max-width: 88vw;
  }
  .block-7__img {
  background: url("../images/map 12.jpg") no-repeat center/contain;
  width: 100%;
  }
  .block-5_plate {
    width: 90%;
    margin: 20px;
  }
  .block-4 {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .block-4_plate {
    padding: 20px;
    width: 100%;
    height: 100px;
  }
  .block-3 p {
    padding: 20px;
  }
  .block-1_plates {
    flex-direction: column;
    align-items: center;
  }
  .block-1_plate {
    margin-bottom: 50px;
  }
  .block-1_image {
    width: 100%;
  }
  .block-1_image-block p {
    position: initial;
    padding-top: 50px;
    font-size: 32px;
    padding: 20px;
  }
  .header-mob-p strong {
    font-family: 'MB';
  }
  .header-block {
    height: 745px;
  }
  .header-mob-p {
    font-size: 36px;
    line-height: 36px;
    color: #F57416;
    margin-left: 100px;
    margin-top: 30px;
  }
  .mob-mid .header-dragon_dragon {
    width: 170px;
    height: 220px;
  }
  .mob-mid {
    display: flex;
    padding: 20px;
    
  }
  .header-mob .product {
    width: 100% !important;
  }
  .mob-mid p {
    font-family: 'MeB';
        font-size: 50px;
    line-height: 47px;
    color: #00A79D !important;
  }
  .header-text_img {
    display: none;
  }
  .header-main {
    display: none;
  }
  .header-mob .header-sub {
    padding: 20px;
  }
  .header-mob .header-sub strong{
    font-family: 'MB';
  }
  .header-text p strong {
    font-size: 42px;
    line-height: 42px;
  }
  .plate-container {
    justify-content: space-evenly;
  }
  .disclamer-main {
    padding: 0 20px;
  }
  .instr-inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .plate-container {
    flex-direction: column;
    align-items: center;
  }
  .navigation-menu a {
    font-size: 9px;
  }
  .header-block_content h1 {
    max-width: 400px;
    font-size: 50px;
  }

  .plate {
    margin-bottom: 20px;
  }

  .accordion {
    left: 70%;
    padding: 0;
  }
  .disclamer-tra__inner {
    padding: 0;
  }
  .header-block_inner {
    width: 90%;
  }



  .map-container {
    width: 90%;
  }
  .disclamer-main {
    width: 90%;
  }
  .disclamer-tra__inner {
    width: 90%;
    margin: auto;
  }
  .usless-line {
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .mobile-block1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }



  .drops-btn::after {
    margin-left: 15px;
  }
  .sirop-btn::before {
    margin-right: 15px;
  }

  .usless-head-accordeon {
    flex-direction: column-reverse;
  }
  .usless-head-accordeon div {
    max-width: 100%;
  }

  .mobile-block1 {
    font-size: 20px;
    font-family: 'DLeB';
    line-height: 40px;
    color: #004494;
  }

  .mob-header-block_img {
    width: 230px;
    height: 220px;
    background: url("../images/prospan_banka_bel 1.png") no-repeat center / contain;
  }

  .mob-header-block_img-germ {
    width: 90px;
    height: 90px;
    background: url("../images/germany.svg") no-repeat center / contain;
    position: relative;
    top: 170px;
    left: 167px;
  }






  .navigation-menu {
    display: none;
  }
  .header-block_outer {
    height: 300px;
    background: url(../images/bg-mob.jpg) no-repeat center / cover;
  }
  .instr-inner {
    width: 100%;
  }
 

  .header-block_content h1 {
    display: none;
  }
  .header-block_img {
    display: none;
  }


  .header-block_inner {
    width: 90%;
  }



  .map-container {
    width: 90%;
  }
  .disclamer-main {
    width: 90%;
  }
  .disclamer-tra__inner {
    width: 100%;
    padding: 20px;
    margin: auto;
  }

  .usless-line {
    width: 100%;
  }

  .plate-container {
    flex-direction: column;
    align-items: center;
  }
  .accordion {
    left: 70%;
    padding: 0;
  }

  .panel-img {
    width: 100%;
    height: 200px;
  }

  .logo1 {
    flex-direction: column;
    align-items: flex-start ;
    margin-bottom: 15px;
  }
  .logo1 p {
    font-size: 12px !important;
  }
  .logo2 {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .logo2 p {
    font-size: 12px !important;
  }
  .disclamer-main_sub {
    font-size: 12px !important;
    line-height: 16px !important;
  }



  .toggle-btn_container {
    width: 90%;
  }


  #menuToggle {
    left: -5px;
  }





  .logo-block {
    flex-direction: column;
  }
  .dt1 {
    max-width: 95vw;
  }

  .where-to-buy-mob {
    display: block;
    background-color: transparent;
    color: #E0E0E0 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 5px 15px;
    border-radius: 5px;
    font-family: "AB";
    border: 1px solid #E0E0E0;
    position: absolute;
    text-transform: uppercase;
    left: 5vw;
  }



  .instruction {
    height: 40px;
    width: 75px;
    top: 60px;
    left: 5px;
  }
  .instruction p {
    left: 15px;
    top: 45px;
    font-size: 9px;
  }


  .logo-container {
    margin-right: 30px;
    left: 20px;
    background: url(../images/logo.svg) no-repeat center / contain !important;

  }

  



  .mobile {
    position: relative;
  }

  .test-img-mobile {
    /*width: 100%;*/
    height: 400px;
    position: relative;
    left: -20px;
    width: 95vw;
    background: url(../images/div_02.png) no-repeat center / contain !important;
  }



  .plate {
    max-width: 100%;
    margin-bottom: 50px;
  }

  #menuToggle {
    display: block;
  }


  #menu li a {
    font-size: 20px;
    color: #E0E0E0;
    text-decoration: none;
  }

  .disclamer-warning p {
    font-size: 42px;
    line-height: 70px;
  }

  #menu p {
    color: white;
  }



  .map2 {
    width: 100%;
  }




  .dt1 {
    text-align: left !important;
    /*font-family: 'HNC' !important;*/
  }





  .block-interactive-inner {
    display: flex;
    flex-direction: column;
  }



  .mobile {
    display: block;
  }




  .block-interactive-inner {
    margin-bottom: 100px;
  }






  .test-img-mobile {
    margin-bottom: 50px;
  }

  h1 {
    margin: 20px 0;
  }

  .logos-container {
    margin-bottom: 0 !important;
  }



  /*#menu li:last-child a {*/
  /*  border: 1px solid rgba(60, 60, 60, 0.4);*/
  /*  padding: 10px;*/
  /*  border-radius: 10px;*/
  /*  margin-left: 10px;*/
  /*}*/
  #menuToggle {
    left: 325px;
  }
}

@media screen and (max-width: 768px) {
  .header-block_outer {
    background-position: top;
  }
  #menuToggle {
    left: 215px;
  }
  .non-usual {
    margin-bottom: 110px;.block-2_inner p
  }

}

@media screen and (max-width: 450px) {
  .mob-header-block_img {
    height: 300px;
  }
  .instr-inner {
    padding-left: 0px;
  }





  #menuToggle {
    position: relative;
    top: 3px;
    left: -15px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
  .disclamer-tra .logos-container {
    flex-direction: column;
  }

  .disclamer-tra__alpen {
    margin-left: 155px;
  }
}


.show1 {
  background: white !important;
  transition: 0.5s;
}
.show2 {
  display: block !important;
  background: url(../images/logo-en.svg) no-repeat center / contain !important;
  /*transition: 0.5s;*/
}