/* fonts */

@font-face {
  font-family: 'MeL';
  src: url('../fonts/Montserrat-ExtraLight.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'ML';
  src: url('../fonts/Montserrat-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'MM';
  src: url('../fonts/Montserrat-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'MB';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'MeB';
  src: url('../fonts/Montserrat-ExtraBold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'RR';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RM';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RL';
  src: url('../fonts/Roboto-Light.ttf');
}


@font-face {
  font-family: 'RB';
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'RT';
  src: url('../fonts/Roboto-Thin.ttf');
}
/* common */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  margin: auto;
  /*max-width: 1920px;*/
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #636363;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.block {
  margin: auto;
}

.blocked {
  overflow: hidden;
}

.active {
  color: black !important;
}

div {
  display: block;
}


.active-nav {
  color: white !important;
}


.outer-navigation-container {
  width: 100vw;
  z-index: 1005;
  padding-top: 50px;
  /*background: #030406;*/
  /*position: fixed;*/

  display: flex;
  justify-content: center;
  /*height: 50px;*/
  /*top: 0;*/
    /*-webkit-box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);*/
    /*-moz-box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);*/
    /*box-shadow: -1px 2px 5px 0px rgba(150,150,150,1);*/
}

/*/////newpoint*/


.header-custom {
  background-color: #D90913;
  height: 768px;
  overflow: hidden;
}

.navigation-menu {
  border: 1px solid #2A0000;
  display: flex;
  align-items: center;
  /*margin-right: 455px;*/
  margin-right: 535px;
}


.navigation-menu a {
  font-size: 14px;
  font-family: 'MB';
  color: #2A0000;
  padding: 10px 20px;
}


.header-title {
  /*position: absolute;*/
  /*top: 30vh;*/
  /*left: 310px;*/
  margin: 200px 210px;
}

.header-title_outer {
  max-width: 1200px;
  margin: auto;
}

.none {
  display: none;
}

.show1 {
  animation: show1 1s forwards;
  display: block;
  position: fixed;
  top: 250px;
  left: 25px;
}
@keyframes show1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hide1 {
  animation: hide1 1s forwards;
}
@keyframes hide1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header-title_main {
  font-size: 56px;
  color: white;
  font-family: 'MeB';
}

.header-title_subtext {
  font-size: 20px;
  color: white;
  font-family: "MeL";
}

.header-title_subtext-black {
  color: #2A0000;
  margin-top: 125px;
  font-family: "MB";
  font-size: 16px;
}

.header-title_subtext-black b {
  background: black;
  color: #D90913;
  padding: 2px 0 2px 10px;
}


.header-title_outer {
  /*position: initial;*/
}


.header-image_outer {

}

.header-image {
  overflow: hidden;
  position: absolute;
  top: 110px;
  left: 800px;
  width: 800px;
  height: 700px;
  z-index: 1;
  background: url('../images/Vector (2).svg') no-repeat center / contain;
}

.header-image2 {
  overflow: hidden;
  position: absolute;
  top: 110px;
  left: 800px;
  width: 800px;
  height: 700px;
  z-index: 1;
  background: url('../images/Vector (1).svg') no-repeat center / contain;
}


.block-1 {
  width: 1200px;
  margin: auto;
  padding-top: 90px;
  z-index: 100;
}
.block-2 {
  width: 1200px;
  margin: auto;
  height: 773px;
  padding-top: 90px;
}
.block-2_outer {
  background: #D90913;
}
.block-3 {
  width: 1200px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 160px;
}
.footer {
  background: #D90913;
}
.footer-content {
  width: 1200px;
  margin: auto;
  padding-top: 60px;
  display: flex;
  color: white;
  font-family: "ML";
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-tradeM {
  width: 1200px;
  margin: auto;
  color: white;
  padding: 30px 0 60px;
  font-family: "ML";
  font-size: 12px;
}

.line-white {
  width: 100%;
  height: 1px;
  background: white;
}

.exta-text {
  position: relative;
  max-width: 205px;
  top: 45px;
  left: 160px;
  color: white;
  font-family: "ML";
  font-size: 16px;
}

h1 {
  color: #2A0000;
  font-size: 50px;
  font-family: "MB";
  margin: 100px 20px 70px;
}

.nav-block_black2 {
  z-index: 5;
}

.nav-block_black {
  opacity: 0;
  width: 185px;
  height: 185px;
  background-color: #2A0000;
  text-align: right;
  padding: 15px;
}

.nav-block_white {
  opacity: 0;
  width: 185px;
  height: 185px;
  background-color: white;
  text-align: right;
  padding: 15px;
}

/*.nav-block_black1 {*/
/*  position: fixed;*/
/*}*/


.nav-active {
  color: #D90913 !important;
}

.nav-block_black a {
  color: #afafaf;
  font-size: 16px;
  font-family: "MB";
  line-height: 32px;
}

.nav-block_white a {
  color: #2A0000;
  font-size: 16px;
  font-family: "MB";
  line-height: 32px;
}

.block-header {
  display: flex;
  overflow: hidden;
}

.plate-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 140px;
}

.plate {
  width: 290px;
  height: 80px;
  padding: 10px 15px;
  border: 1px solid #2A0000;
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: "ML";
  text-transform: uppercase;
  color: #2A0000;
}

.plate-transparent {
  opacity: 0;
}


.line {
  width: 290px;
  height: 8px;
  background: #2A0000;
  /*margin-left: 280px;*/
}

h2 {
  font-size: 38px;
  /*line-height: 42px;*/
  font-family: "MeL";
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #2A0000;
}

.content-container {
  width: 635px;
  margin: auto;
}

.content-container li {
  font-size: 18px;
  font-family: "ML";
  line-height: 28px;
  color: #2A0000;
  margin-bottom: 30px;
}

.content-container ul {
  margin-bottom: 140px;
}



ul {
  list-style: none;
  padding-inline-start: 25px;
}

ul li::before {
  content: "\2022";
  color: #D90913;
  font-family: "MeB";
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.block-2 h1 {
  color: white;
}

.block-2 .plate-container .plate:nth-child(1) {
  height: 100px;
}
.block-2 .plate-container .plate:nth-child(2) {
  height: 100px;
}
.block-2 .plate-container .plate:nth-child(3) {
  height: 100px;
}

.block-2 .plate {
  color: white;
  border-color: white;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inp-name {
  width: 310px;
  height: 56px;
  border: 1px solid #2A0000;
}

.inp-lastname {
  width: 310px;
  height: 56px;
  border: 1px solid #2A0000;
  margin-bottom: 56px;
}

.inp-email {
  width: 635px;
  height: 56px;
  border: 1px solid #2A0000;
  margin-bottom: 56px;
}

.form-text {
  width: 635px;
  height: 240px;
  border: 1px solid #2A0000;
  margin-bottom: 56px;
}

button {
  width: 285px;
  height: 56px;
  background: #D90913;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-family: "ML";
  text-transform: uppercase;
  border: none;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.content-container p {
  font-family: "ML";
  margin-bottom: 10px;
}
.content-container input {
  font-size: 25px;
  padding: 10px;
}

.content-container textarea {
  font-size: 25px;
  padding: 10px;
}
/*puppet for ancor*/

.puppet {
	position: absolute;
	height: 100vh;
	margin-top: -7vh;
	/*width: 100vw*/
}



.custom-mob {
  display: none;
}

.navigation-lang {
  border: 1px solid #2A0000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}


.lang {
  font-size: 14px;
  color: #2A0000;
  margin-right: 10px;
  font-family: 'MB';
}
.navigation-lang span {
  margin-right: 10px;
}
.lang p {
  color: #2A0000;
}
.lang b {
  color: #ffe500;
}
/*.lang-dop {*/
/*	margin-right: 5px !important;*/
/*}*/




.navigation-container {
  display: flex;
    /*align-items: center;*/
    width: 1200px;
  background: transparent;
    /*justify-content: flex-end;*/
    /*position: relative;*/
}

.logo-container {
  background: url('../images/logo.svg') no-repeat center / contain;
  width: 110px;
  display: block;
  margin-right: 100px;
}





.hidden {
  display: none;
}




/* keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*burger menu*/

#menuToggle {
  display: none;
  position: relative;
  top: 3px;
  left: 200px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: 1px solid black;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 9px 0px;

  transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -1px);
  background: #C90A4C;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  right: -40px;
  width: 110vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  border-radius: 10px;

  background: #030406;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  text-transform: uppercase;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


#menuToggle .input-li {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 200px;
}

/*#menuToggle input:checked ~ ul {*/
/*  */
/*}*/


/*.active-li {
  transform: translate(100%, 0);
}*/
.header-mobile {

  display: none;
}



@media screen and (max-width: 1200px) {

  .exta-text {
    left: 20vw;
}

  #menu li::before {
    content: '' !important;
  }

  .header-mobile {
    height: 681px;
    background: #D90913;
    padding: 20px;
    display: block;
    overflow: hidden;
}

  .logo-container {
    height: 35px;
}

  .mob-img-cont {
    width: 336px;
    position: absolute;
    right: 0;
    height: 450px;
    background: url('../images/1.png') no-repeat center / contain;
}
  .mobile-image {
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 80px;
    width: 800px;
    height: 800px;
    z-index: 1;
    background: url('../images/Vector (2).svg') no-repeat center / contain;
  }

  .mobile-image2 {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 60px;
    width: 800px;
    height: 800px;
    z-index: 1;
    background: url('../images/Vector (1).svg') no-repeat center / contain;
  }


  .header-title {
    margin: 350px 0px;
}
  .header-title_subtext-black {
    margin-top: 60px;
}

  .header-title_main {
    font-size: 36px;
}


  .navigation-menu {
    display: none;
  }

  .navigation-top {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0;
    padding: 14px;
    z-index: 5;
    background: #d90813;
}

  .header-custom {
    display: none;
  }

  .nav-block_black {
    display: none;
  }

  .nav-block_white {
    display: none;
  }
  .content-container {
    width: 100%;
    padding: 0 20px;
}

  .block-1 {
    width: 100%;
    padding-top: 0;
  }
  .block-2 {
    width: 100%;
    padding-top: 0;
    height: auto;
  }
  .plate-container {
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 100px;
}

  .block-3 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .footer-content {
    width: 100%;
    flex-direction: column;
  }

  .footer-content p {
    margin-bottom: 30px;
}

  .footer-tradeM {
    width: 85%;

  }

  #menu {
    width: 102vw;
  }

  .strange-lang {
    position: relative;
    left: 75vw;
    top: 10px;
    font-family: "MB";
    /*color: #FFE600;*/
    color: #D90913;
}

  .form-top div {
    width: 100%;
}

  .inp-name {
    width: 100%;
    margin-bottom: 56px;
}
  .inp-lastname {
    width: 100%;
}
  button {
    /*width: 100%;*/
}
  .form-top {
    justify-content: flex-start;
}
  .button-container {
    justify-content: flex-start;
}

  .inp-email {
    width: 100%;
}
  .form-text {
    width: 100%;
}

  h1 {
    font-size: 40px;
}
  h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .plate-transparent {
    display: none;
}

  .line {
    /*margin: auto;*/
}

  #menuToggle {
    left: -5px;
    z-index: 5;
  }



  #menuToggle {
    display: block;
  }


  #menu li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }


  #menu p {
    color: white;
  }


  #menuToggle {
    left: 68vw;
  }
}


@media screen and (max-width: 1024px) {
  #menuToggle {
    left: 63vw;
  }
  .strange-lang {
    left: 71vw;
}
  #menu {
    padding-left: 200px;
    width: 110vw;
  }
  .exta-text {
    left: 40vw;
}
}

@media screen and (max-width: 900px) {
  #menuToggle {
    left: 60vw;
  }
  .strange-lang {
    left: 68vw;
  }
}


@media screen and (max-width: 768px) {
  #menuToggle {
    left: 50vw;
  }

  .strange-lang {
    left: 60vw;
  }

  #menu {
    padding-left: 100px;
  }

  .exta-text {
    left: 35vw;
  }


}


@media screen and (max-width: 690px) {
  #menuToggle {
    left: 45vw;
  }

  .strange-lang {
    left: 56vw;
  }
}

@media screen and (max-width: 590px) {
  #menuToggle {
    left: 35vw;
  }

  .strange-lang {
    left: 48vw;
  }
}

@media screen and (max-width: 545px) {
  #menuToggle {
    left: 30vw;
  }

  .strange-lang {
    left: 43vw;
  }
}
@media screen and (max-width: 490px) {
  #menuToggle {
    left: 22vw;
  }

  .strange-lang {
    left: 38vw;
  }
}
/*@media screen and (max-width: 450px) {*/



/*  #menuToggle {*/
/*    position: relative;*/
/*    top: 1px;*/
/*    left: -5px;*/

/*    z-index: 1;*/

/*    -webkit-user-select: none;*/
/*    user-select: none;*/
/*  }*/

/*}*/


  @media screen and (max-width: 414px) {
    #menuToggle {
      left: 40px;
  }
    #menu {
      padding-left: 50px;
    }
    .strange-lang {
      left: 120px;
      top: 12px;
  }
    .exta-text {
      left: 20vw;
    }
  }


  @media screen and (max-width: 375px) {
    #menuToggle {
      left: 0px;
    }
    .strange-lang {
      left: 80px;
      top: 12px;
    }
  }